{% load static %}
<!DOCTYPE HTML>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="Legit Crew, https://www.devme.com/">
    <title>{% if obj.site_name %} {{obj.site_name}} {% else %} {{site_name}} {% endif %} / {{title}}</title>
    <meta name="description" content="{{obj.description}}">
    <meta name="author" content="{{designer_name}}">
    <meta name="theme-color" content="{{obj.theme_color}}">
    <meta name="msapplication-navbutton-color" content="{{obj.theme_color}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{obj.theme_color}}">
    <meta name="keywords" content="{{obj.key_words}}">
    <meta property="og:site_name" content="{{obj.site_name}}">
    <meta property="og:url" content="{{obj.site_url}}">
    <meta http-equiv="Content-type" content="text/html;charset:utf-8">
    <meta property="og:type" content="website">
    <meta property="og:type" content="website">
    <meta property="twitter:site" content="https://twitter.com/Kevin36285655">
    <meta property="twitter:title" content="@Kevin36285655">
    <meta property="twitter:image" content="https://twitter.com/Kevin36285655/photo">
    <meta property="twitter:description" content="Life's Simple.">
    <meta property="twitter:text:title" content="Life's Simple.">
    <meta property="og:title" content="{{obj.site_name}} | {{title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:description" content="{{obj.description}}">
    <meta property="og:image" content="{{obj.favicon.url}}">
    <meta name="apple-mobile-web-app-title" content="{{obj.site_name}}">
    <meta name="application-name" content="{{obj.site_name}}">
    <meta name="msapplication-TileColor" content="{{obj.theme_color}}">
    <meta name="msapplication-config" content="{% static 'manager/assets/images/logos/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="{{request.get_full_path}}" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="shortcut icon" href="{{obj.favicon.url}}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'panel/assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'panel/assets/css/font-awesome.min.css' %}">
    <link href="//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'panel/assets/css/style-starter.css' %}">
    <link rel="stylesheet" href="{% static 'panel/assets/css/custom.css' %}" />
    {{daily|json_script:"daily" }}
    {{weekly|json_script:"weekly" }}
    {{monthly|json_script:"monthly" }}
    {{rooms|json_script:"rooms" }}
    <script type="text/javascript">
    window.onload = function() {
        const daily = JSON.parse(document.getElementById('daily').textContent);
        const weekly = JSON.parse(document.getElementById('weekly').textContent);
        const monthly = JSON.parse(document.getElementById('monthly').textContent);
        const rooms = JSON.parse(document.getElementById('rooms').textContent);
        const dailyArray = daily.map(({ datapoint: label, consumption: y }) => ({ label, y }));
        const weeklyArray = weekly.map(({ datapoint: label, consumption: y }) => ({ label, y }));
        const monthlyArray = monthly.map(({ datapoint: label, consumption: y }) => ({ label, y }));
        const monthlyArray1 = monthly.map(({ datapoint: label, cost: y }) => ({ label, y }));
        const monthlyArray2 = monthly.map(({ room: label, consumption: y }) => ({ label, y }));
        const roomArray2 = rooms.map(({ room: label, total_cost: y }) => ({ label, y }));
        const roomArray3 = rooms.map(({ room: label, consumption: y }) => ({ label, y }));
        console.log(roomArray2)
        var chart1 = new CanvasJS.Chart("chartContainer1", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true		
            title: {
                text: "Daily Energy Consumption in kWh"
            },
            axisX: {
                title: "Days of the week",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Consumption in kWh",
                valueFormatString: "##0.00 kWh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                    labelFormatter: function(e) {
                        return "kWh" + CanvasJS.formatNumber(e.value, "##0.00");
                    }
                }
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: dailyArray
            }]
        });
        chart1.render();

        var chart2 = new CanvasJS.Chart("chartContainer2", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true		
            title: {
                text: "Weekyly Consuption in kWh "
            },
            axisX: {
                title: "Weeks of the month",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Consuption in KWh",
                valueFormatString: "##0.00 kwh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                }
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: weeklyArray
            }]
        });
        chart2.render();

        var chart3 = new CanvasJS.Chart("chartContainer3", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true		
            title: {
                text: "Monthly Consuption in kWh"
            },
            axisX: {
                title: "Months of the year",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Consuption in kWh",
                valueFormatString: "##0.00 kwh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                }
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: monthlyArray
            }]
        });
        chart3.render();

        var chart4 = new CanvasJS.Chart("chartContainer4", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true		
            title: {
                text: "Monthly cost in Ksh against months"
            },
            axisX: {
                title: "Months of the year",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "Cost in Ksh",
                valueFormatString: "##0.00 Ksh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                }
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: monthlyArray1
            }]
        });
        chart4.render();

        var chart5 = new CanvasJS.Chart("chartContainer5", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true		
            title: {
                text: "Consumption in kWh per room"
            },
            axisX: {
                title: "Consumption in kWh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "ICDC room name(s)",
                valueFormatString: "##0.00 kWh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                }
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "pie",
                dataPoints: roomArray3
            }]
        });
        chart5.render();

         var chart6 = new CanvasJS.Chart("chartContainer6", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: true, // change to true		
            title: {
                text: "Cost in Ksh per room"
            },
            axisX: {
                title: "Cost in Ksh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
            },
            axisY: {
                title: "ICDC room name(s)",
                valueFormatString: "##0.00 Ksh",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true,
                }
            },
            data: [{
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "pie",
                dataPoints: roomArray2
            }]
        });
        chart6.render();
    }
    </script>
    <style>
        .tabber .active{
      background:#d92626  !important;
      color:#fff !important;
    }
	</style>
</head>

<body>
    <!-- header -->
    <header id="site-header" class="fixed-top">
        <section class="w3l-header-4">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1>
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <span class="fa fa-lightbulb-o" aria-hidden="true"></span>
                            {{obj.site_name}}
                        </a>
                    </h1>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home </a>
                            </li>
                            <li class="nav-item @@services__active">
                                <a class="nav-link" href="{% url 'weekly consuption' %}">Energy Consumption</a>
                            </li>
                            <li class="nav-item @@services__active">
                                <a class="nav-link" href="{% url 'analyzer' %}">Analyzer</a>
                            </li>
                            <li class="nav-item @@services__active">
                                <a class="nav-link" href="{% url 'cost' %}">Cost results</a>
                            </li>
                            {% if request.user.is_authenticated %}
		                     <li class="nav-item @@services__active">
		                      <a class="nav-link" href="{% url 'dashboard' %}">Panel Dashboard</a>
		                    </li>
		                    {% else %}
		                    <li class="nav-item @@services__active">
		                      <a class="nav-link" href="{% url 'login' %}">Login</a>
		                    </li>
		                    {% endif %}
                            <li class="nav-item ml-3 text-center">
                                <a href="{% url 'cost calculator' %}" class="btn btn-outline-primary btn-style mr-2">Cost calculator</a>
                            </li>
                        </ul>
                        <!-- //toggle switch for light and dark theme -->
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <!-- //header -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-5 py-md-3">
                <h2 class="title text-capitalize">{{title}}</h2>
            </div>
        </div>
    </section>
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="/">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> {{title}}</li>
            </ul>
        </div>
    </section>
    <section class="w3l-about py-5" id="about">
        <div class="container">
            <div class="row" style="margin-top:150px">
                <div class="col-md-8">
                    <div class="d-lg-flex justify-content-between">
                        <ul class="nav nav-tabs mb-3 tabber" id="pills-tab" role="tablist" style="display:inline-block;overflow-x: auto; overflow-y: hidden; flex-wrap:nowrap;">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-daily-tab" data-toggle="pill" href="#pills-daily" role="tab" aria-controls="pills-daily" aria-selected="true">Daily</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="pills-weekly-tab" data-toggle="pill" href="#pills-weekly" role="tab" aria-controls="pills-weekly" aria-selected="false">Weekly</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="pills-monthly-tab" data-toggle="pill" href="#pills-monthly" role="tab" aria-controls="pills-monthly" aria-selected="false">monthly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top:150px">
                <div class="col-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-daily" role="tabpanel" aria-labelledby="pills-daily-tab">
                            <div id="chartContainer1" style="height: 370px; width:100%;margin:-60px auto"></div>
                        </div>
                        <div class="tab-pane fade" id="pills-weekly" role="tabpanel" aria-labelledby="pills-weekly-tab">
                            <div id="chartContainer2" style="height: 370px; width:100% !important;margin:120px auto"></div>
                        </div>
                        <div class="tab-pane fade" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab">
                            <div id="chartContainer3" style="height: 370px; width:100%;margin:20px auto"></div>
                            <hr>
                            <div id="chartContainer4" style="height: 370px; width:100%;margin:20px auto"></div>
                            <hr>
                            <div id="chartContainer5" style="height: 370px; width:100%;margin:20px auto"></div>
                            <hr>
                            <div id="chartContainer6" style="height: 370px; width:100%;margin:20px auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <section class="w3l-footer-29-main mt-3" id="footer">
        <div class="footer-29 py-5">
            <div class="container pb-lg-3">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-4 footer-list-29 footer-1 mt-md-4">
                        <h6 class="footer-title-29">Contact Us</h6>
                        <ul>
                            <li>
                                <p><span class="fa fa-map-marker"></span>{{obj.site_name}}, {{obj.address}},
                                    {{obj.location}}</p>
                            </li>
                            <li><a href="tel:{{obj.phone}}"><span class="fa fa-phone"></span> {{obj.phone}}</a></li>
                            <li><a href="mailto:{{obj.site_email}}" class="mail"><span class="fa fa-envelope-open-o"></span>
                                    {{obj.site_email}}</a></li>
                        </ul>
                        <div class="main-social-footer-29 text-md-left text-center">
                            <a target="_blank" href="{{obj.facebook}}" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a target="_blank" href="{{obj.twitter}}" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a target="_blank" href="{{obj.instagram}}" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a target="_blank" href="{{obj.whatsapp}}" class="google-plus"><span class="fa fa-whatsapp"></span></a>
                            <a target="_blank" href="{{obj.linkedin}}" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12 footer-list-29 footer-4 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Quick Links</h6>
                            <li><a href="{% url 'home' %}">Home page</a></li>
                            <li><a href="{% url 'weekly consuption' %}">Weekly Consuption</a></li>
                            <li><a href="#">Analyzer</a></li>
                            <li class="text-md-left text-center"><a href="{% url 'cost calculator' %}">Cost calculator</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 footer-list-29 footer-3 mt-4">
                        <div class="properties">
                            <h6 class="footer-title-29">Recent Posts</h6>
                            <a class="d-grid twitter-feed" href="#">
                                <p>We are focused on providing our clients with the highest
                                    level of quality and excellent customer support.</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row bottom-copies">
                    <p class="copy-footer-29 col-lg-8">© {% now 'Y' %} {{obj.site_name}}. All rights reserved | Design by <a target="_blank" href="{{designer_link}}">{{designer_name}}</a></p>
                    <ul class="list-btm-29 col-lg-4">
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Terms of service</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
            <span class="fa fa-level-up"></span>
        </button>
    </section>
    <script src="{% static 'panel/assets/js/canvasjs.min.js' %}"> </script>
    <script src="{% static 'panel/assets/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'panel/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'panel/assets/js/theme-change.js' %}"></script>
    <script src="{% static 'panel/assets/js/bootstrap-select.min.js' %}"></script>
    <script>
    window.onscroll = function() {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
    </script>
    <script>
    $(window).on("scroll", function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    $(".navbar-toggler").on("click", function() {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function() {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
    </script>
    <script>
    $(function() {
        $('.navbar-toggler').click(function() {
            $('body').toggleClass('noscroll');
        });
    });
    </script>
    <script>
    var current = '';
    $(document).on('click', '.penwrapper', function() {
        var el = $(this),
            name = '';
        if (el.parent().find('img').length) {
            name = el.parent().find('img').data('name');
        } else {
            name = el.parent().find('.content').data('name');
            current = el;
        }
        $('.form-area').find("input,textarea").parent().hide();
        $('.form-area').find("input[name='" + name + "'],textarea[name='" + name + "']").parent().show();
        $('.target').html($('.form-area').html()).find('form').show().find("input[name='" + name + "'],textarea[name='" + name + "']").val($.trim(el.parent().find('.content').text())).addClass('editor-pallate');
        $('.edit-modal').modal({ show: true });
    });
    $(document).on('keyup', '.editor-pallate', function() {
        current.parent().find('.content').text($(this).val());
    });
    $(document).ready(function() {
        $('.ti-close').click();
    });
    </script>
    <script>
    $(document).on('click', '.float', function() {
        $(document).find('.editor').toggleClass('border-edit').children('i').toggle();
    });
    </script>
</body>

</html>