{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-5 py-md-3">
            <h2 class="title text-capitalize">{{title}}</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> {{title}}</li>
        </ul>
    </div>
</section>
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="about-block">
        	<div class="row">
        		<div class="col-md-6 mx-auto">
        			<form action="#" method="post" class="ActiveForm" novalidate>
                        <h5 class="mb-4 text-center"><b>Equipment details</b></h5>
                        {% csrf_token %}
                        <div class="form-style-w3ls">
                            <div class="form-group">
                                <label for="">Select category</label>
                                {{form.category}}
                                <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for=""class="changer">Date</label>
                                {{form.date}}
                                <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="">Room name</label>
                                <select name="room" id="id_room" class="form-control">
                                    {% for room in rooms %}
                                    <option value="{{room.name}}">{{room.name}}</option>
                                    {% empty %}
                                    <option value="" selected="" disabled="">No room found</option>
                                    {% endfor %}
                                </select>
                                <div class="feedback"></div>
                            </div> 
                            <div class="form-group">
                                <label for="">Equipment</label>
                                <select name="equipment" id="id_equipment" class="form-control">
                                    {% for equipment in equipments %}
                                    <option value="{{equipment.name}}">{{equipment.name}}</option>
                                    {% empty %}
                                    <option value="" selected="" disabled="">No equipment found</option>
                                    {% endfor %}
                                </select>
                                <div class="feedback"></div>
                            </div> 
                            <div class="form-group">
                                <label for="">Rating(W)</label>
                                {{form.rating}}
                                <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="">Quantity</label>
                                {{form.quantity}}
                                <div class="feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="">No of hours used</label>
                                {{form.no_of_hours_used}}
                                <div class="feedback"></div>
                            </div>
                            <button class="btn btn-style btn-primary w-100"> Submit</button>
                        </div>
                    </form>
        		</div>
        	</div>
        </div>
    </div>
</section>
{% endblock %}