{% extends 'panel/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title text-capitalize">{{title}}</h2>
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> {{title}}</li>
        </ul>
    </div>
</section>
<section class="w3l-about py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="about-block">
            <h6 class="title-small text-center">Available weekly energy consuption in ICDC</h6>
           	<div class="mt-2 row">
           		<div class="col-md-8 mx-auto">
           			<div class="accordion" id="accordionExample">
           					<div class="card">
		            			<div class="card-header" id="heading_{{meter.id}}">
			            			<h5 class="mb-0">
			            				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{meter.id}}" aria-expanded="true" aria-controls="collapse_{{meter.id}}">{{meter.id}}.{{meter.name}}</button>
			            			</h5>
			            		</div>
			            		<div id="collapse_{{meter.id}}" class="collapse show" aria-labelledby="heading_{{meter.id}}" data-parent="#accordionExample">
			            			<div class="card-body">
			            				<div class="tabel-responsive">
			            					<table class="table table-hover table-stripped">
			            						<tr>
			            							<th>#</th>
			            							<th>Week ending</th>
			            							<th>Meter location</th>
			            							<th>consuption</th>
			            						</tr>
			            						<tbody>
			            							{% for reading in readings %}
			            								<tr>
				            								<td>{{forloop.counter}}.</td>
				            								<td>{{reading.created_on|naturaltime}}</td>
				            								<td>{{reading.meter_location}}</td>
				            								<td>{{reading.meter_reading}} KW</td>
				            							</tr>
			            							{% empty %}
			            							<tr>
			            								<td colspan="4" class="text-center">
			            									<p><i class="fa fa-exclamation-circle"></i> No data found</p>
			            								</td>
			            							</tr>
			            							{% endfor %}
			            							{% if readings %}
			            							<tr>
	                                                    <td colspan="3"><b>Total Consuption</b></td>
	                                                    <td>{{total.meter_reading__sum|intcomma|default:0}} KW</td>
	                                                </tr>
	                                                {% endif %}
	                                                <tr>
	                                                	<td colspan="4">
	                                                		<a href="{% url 'weekly consuption' %}"><i class="fa fa-arrow-left"></i> Back</a>
	                                                	</td>
	                                                </tr>
			            						</tbody>
			            					</table>
			            				</div>
			            			</div>
			            		</div>
			            	</div>
		            </div> 
           		</div>
           	</div>
        </div>
    </div>
</section>
{% endblock %}